<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header class="head">
        <h1>This is my portfolio</h1>
        <h4>Name: Vinicius Henrique dos Santos Rodrigues</h4>
        <h4>Age: 19y</h4>
        <h4>academic education: Graduating in Fatec São José dos Campos in the course of Analysis and systems 
        development</h4>
        <h4>and this is my my main projects:</h4>
    </header>
    <Nav>
        <p>Projects with JavaScript:</p>
        <a href="http://https://vinicius123henrique321.github.io/GeradorAutomatico/">Automatic password generator</a>
        <br>
        <a href="http://https://vinicius123henrique321.github.io/ToDoList/">To do list</a>
        <br>
        <a href="http://https://vinicius123henrique321.github.io/calculadora_js/">Calculator</a>
        <br>
        <p>Projects with Python (only links to my repositories on Github):</p>
        <a href="http://https://github.com/vinicius123henrique321/forca_python">Hangman game</a>
        <br>
        <a href="https://github.com/vinicius123henrique321/projeto_de_automacao">Automation projects</a>
        <br>
        <a href="https://github.com/vinicius123henrique321/flappy-bird-simplegame">Flappy bird simple game</a>
        <br>
        <a href="https://github.com/vinicius123henrique321/analise_de_dados_com_IA">Data analysis with artificial intelligence</a>
        <br>
        <a href="https://github.com/vinicius123henrique321/teste_envio_de_email_e_sms">Email e Sms sending test</a>
        <br>
        <p>Projects with Java (only links to my repositories on Github)</p>
        <a href="https://github.com/vinicius123henrique321/exmp_form_java">Simple c.r.u.d</a>
        <br>
        <a href="https://github.com/vinicius123henrique321/javafx_teste">test with framework javafx</a>
        <br>
        <a href="https://github.com/vinicius123henrique321/guessing_name_java">Guessing name</a>
    </Nav>
</body>
</html>